@font-face {
    font-family: 'OdriHandwriting';
    src: url('/fonts/Odri-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GulfsDisplay';
    src: url('/fonts/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelo';
    src: url('/fonts/Lovelo-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LilitaOne';
    src: url('/fonts/LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CherryBombOne';
    src: url('/fonts/CherryBombOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
